{% extends 'common/base.html' %}
{% load static %}

{% block content %}
      <!-- profile details section -->
      <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
          <div class="car-header">
            <!-- default profile image (if the user does NOT have any)-->
            <img
              class="car-img"
                {% if object.profile_picture %}
                    src="{{ object.profile_picture }}"
                {% else %}
                    src="{% static '/images/default-profile.png' %}"
                {% endif %}
              alt="profile-image"
            />
            
            {% if object.first_name and object.last_name %}
                <!-- user full name (if any) -->
                <h1>{{ object.first_name}} {{ object.last_name }}</h1>
            {% elif object.first_name %}
                <h1>{{ object.first_name }}</h1>
            {% elif object.last_name %}
                <h1>{{ object.last_name }}</h1>
            {% endif %}
            <!-- user username -->
            <p class="description">Username: {{ object.username }}</p>
            <!-- user email -->
            <p class="description">Email: {{ object.email}}</p>
            <!-- user age -->
            <p class="description">Age: {{ object.age }}</p>
            <!-- total price of all cars -->
            <p class="description">Total price: {{ object.total_sum }}</p>
            <!-- Edit/Delete buttons -->
            <div class="buttons">
              <a href="#" class="edit-button">Edit</a>
              <a href="#" class="delete-button">Delete</a>
            </div>
          </div>
        </div>
      </section>

{% endblock %}